force-app/main/default/flows/Copado_Flow_Deployment_Experiment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Add a note to the Account</description>
        <name>Add_Note_to_Account</name>
        <label>Add Note to Account</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>NewNote</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Add_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Title</name>
            <value>
                <stringValue>Flow created note</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Body</name>
            <value>
                <stringValue>Test Test Test</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NewNote</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Add_Task</name>
        <label>Add Task</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>FeedItem.NewTaskFromFeedItem</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FeedItem.NewTaskFromFeedItem</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <description>A newer version</description>
    <environments>Default</environments>
    <interviewLabel>Copado Flow Deployment Experiment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copado Flow Deployment Experiment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Note_to_Account</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
